{% extends 'layouts/blog_demo.html' %}
{% block blog_title %} The Blue of Sky in Beijing in 2015 — Case Study 01 {% endblock %}
{% block blog_date %} 2019.9.10 {% endblock %}
{% block blog_content %}

<p>The project <a href="https://www.behance.net/gallery/35401355/The-Blue-of-2015-Beijing-Sky">”The Blue of 2015 Beijing Sky”</a> caught my eyes at first glance. It was made by Yasai Wang, a visual designer working at <a href="https://www.thepaper.cn/list_25635"><em>the Paper</em></a> in Shanghai.</p>

<p>I used to live in Beijing. Weather sometimes become very terrible. When I went outside the whole day in a terrible weather, my throat felt sore because the tiny particles from the air get into the throat through breathing. In the worst case, people will be trapped in the car, like <em>the Mist</em>.</p>

<img src="../static/assets/img/blogs/case_bluesky.jpeg" alt="">
<img src="../static/assets/img/blogs/blogs_wordpress7.png" alt="">
<p class="img_sidenote">A bad day in Beijing</p>

<p>So this project is closely familiar to me. Here are the reasons why I love it:</p>

<ul>
  <li>The main chart– Zoomable Sunburst</li>
  <p>I love the data visualization of it. This kind of circle, Zoomable Sunburst, is very beautiful and suitable for this project. The circle hints the yearly circle. People don’t need to turn their head to understand the detail parts of the circle. Wonderful choice of the chart!</p>
  <li>The color hierarchy</li>
  <p>The color represents different levels of air quality. More gray color, worse weather. More blue color, better weather. It’s so clear to see the weather in Beijing in this way. Even people who are not familiar with air pollution or PM2.5 in Beijing could also quickly understand the meaning of the graphic.</p>
</ul>

<p>But there is still something I think could be better:</p>

<ul>
  <li>PM2.5 is familiar with Chinese. But it’s not common for people in other countries.</li>
  <p>It’s better if she adds an explanation of PM2.5: it refers to atmospheric particulate matter (PM) that have a diameter of fewer than 2.5 micrometers, which is about 3% the diameter of a human hair. And if there’s process about how these particles are produced and go into the human’s body, the visualization will be perfect.</p>
  <img src="../static/assets/img/blogs/blogs_wordpress8.png" alt="">
  <li>The author wants to identify the correlation between the sky in Beijing and PM2.5 by this visualization.</li>
  <p>I don’t feel it’s seen directly in the graphic. Because she used <strong>different colors to represent the level of sky</strong>, while she uses <strong>bar charts to represent PM2.5</strong>.</p>
  <p>Why don’t use the same type of chart to represent the level of PM2.5? I found another project she made about PM2.5 — <a href="https://yasaisai.tumblr.com/post/162395023264/beijingpm25-at-800am-everyday-from">Beijing, PM2.5 at 8:00am every day from 2009/02-2017/06</a>.</p>
  <p>If she uses this kind of chart to demonstrate the degree of PM2.5, it’s clearer for people to notice <strong>”darker the sky is, more PM2.5 there is”</strong>.</p>
  <img src="../static/assets/img/blogs/blogs_wordpress9.png" alt="">
  <li>I also feel like this part is good, but lacks something. Especially I feel right part is full of emptiness. It’s a little bit weird.</li>
  <img src="../static/assets/img/blogs/blogs_wordpress10.png" alt="">
</ul>

<p>Because I saw another project she made about the sky in Beijing from 2013-2018. It has a similar but more direct visualization:</p>
<img src="../static/assets/img/blogs/blogs_wordpress11.png" alt="">

<p>Its standard is also better—it refers to the World Health Organization. It’s also very easy to understand the rate of different levels of weather for a year. And it saves a lot of space.</p>
<p>More space could be expressed data about <strong>the source of air pollution</strong>, like the annual output of vehicle gas, factory gas in Beijing and <strong>the consequence of it</strong>, like the increase of respiratory and cardiovascular illness, heart disease, or cancers.</p>
<p>Especially for children in the womb, bad air is absolute poison. a group of scientists researching air pollution in Ulan Bator have found it harms children in the womb, causing premature birth, low birth weight and miscarriages.</p>
<p>In the heavily polluted winter months, <strong>five times</strong> as many unborn babies died. It’s the start and the end of the story. It completes the whole story.</p>

<p>As a designer, I need to choose the graphic showing data accurately and clearly. I think she did very good. Furthermore, I also want to show the importance and the richness of data. Why should people care about this data? What does this data represent? What is behind of this data?</p>

<p><em>Good graphs can make difficult problems trivial.</em> I will try my best to create good graphs.</p>

{% endblock %}
