{% extends 'layouts/blog_demo.html' %}
{% block blog_title %} The Process of “What Winter Olympic Sports are You Suitable for” {% endblock %}
{% block blog_date %} 2022.3.16 {% endblock %}
{% block blog_content %}
<p>The Beijing Winter Olympics opened on February 4, 2022. In October of the previous year, I proposed the idea of a long-term project for the Winter Olympics at the group meeting.
</p>
<p>The Beijing Winter Olympics opened on February 4, 2022. In October of the previous year, I proposed the idea of a long-term project for the Winter Olympics at the group meeting.
</p>
<p>And my leaders Meng Wei, Mingzhong Geng were very supportive.</p>
  
<p>Immediately thereafter, my colleague Yi Zhang, intern Yuxin Bai and I set up a Winter Olympics team.</p>
<p>Our initial idea was to base on the athletes' physical data (e.g., height, weight, hand and foot length) for each of the Winter Olympic sports, and allow readers to choose sports that corresponded to their body data, which is inspired by the Washington Post's <a href="https://www.washingtonpost.com/graphics/sports/olympics/olympic-body-types/">Which Olympic Sports Fit Your Body?</a>?</p>


<img src="/static/assets/img/blogs_cn/winter_olympic_process/1.jpg" alt="">
<p class="img_sidenote">Different athletes match a variety of body figures</p>

<p>In addition to working on the every-other-day epidemic reports, the weekly data news and mini articles, I spent about two months focusing on this project.</p>
<p>The code is not a big deal, but the animation of winter sports is the biggest challenge. Since I had never used AE to make animations before, I taught myself the whole process in Skillshare and YouTube. Although the production process was quite interesting, I often freaked out and yelled at night in the company. Luckily, the result is more satisfying :) hope you like the project.</p>

<h1>The idea</h1>
<p>At the group meeting in October 2021, I proposed the idea of a long-term project with the theme of the Winter Olympics movement. Immediately, my colleague Yi Zhang, intern Yuxin Bai, and I formed a Winter Olympics team.</p>

<p>Initially, we referred to the Washington Post's <a href="https://www.washingtonpost.com/graphics/sports/olympics/olympic-body-types/"><em>Which Olympic Sports Fit Your Body?</em></a> and planned to let readers choose sports based on athletes' physical data (height, weight, length of arms and legs, etc.) of each Winter Olympics sport matching their talents.</p>

<p>Nevertheless, after a search of relevant papers and books, we had to confront two facts: the small differences in stature data of ice athletes; and the large discrepancies in the physical data of the general population and the ice athletes.</p>

<p>For example, in the Rio (Summer) Olympics, the average height of male gymnasts was 161 cm, while male basketball players' height was close to 2 meters.</p>

<p>As for the Winter Olympics, male skiers' height is no shorter than 178 cm on average, with their muscles in the thighs extremely developed.</p>

<p>It is worth to be mentioned that among the 109 sub-sports in the 2022 Beijing Winter Olympics, the snow items (including alpine skiing, cross-country skiing, ski jumping, Nordic biathlon, freestyle skiing, snowboarding and biathlon) yielded 66 gold medals, exceeding 60% of the total number of gold medals in this session of the Winter Olympics.</p>

<p>In other words, the majority of ice athletes are as tall as skiers. Almost everyone is a big, tall guy with long hands and feet. Despite differences in muscle distributions, they are far above average.</p>

<img src="/static/assets/img/blogs_cn/winter_olympic_process/2.png" alt="">

<p class="img_sidenote text-left">In the book <em>Functional Training: Exercises and programming for training and performance</em>, the authors emphasize that skating-related sports need tremendous hip and leg rotational strength</p>

<img src="/static/assets/img/blogs_cn/winter_olympic_process/3.png" alt="">

<img src="/static/assets/img/blogs_cn/winter_olympic_process/4.png" alt="">

<p class="img_sidenote text-left">In the paper<a href="http://images.sport.org.cn/File/2019/04/01/1216023912.pdf"><em>Building A Champion Model Based on Anthropometry, Physical Function and Condition Characteristics of World-Class Athletes in Snow Sports</em></a>, the skiers are commonly high with muscular legs</p>

<p>Although the physical data of athletes are far from the common people, we are not left with nothing. Fortunately, the above paper is from Sports Science, a professional sports journal founded in 1981 by the China Sport Science Society under the supervision of the State General Administration of Sports.
</p>

<p>After browsing the website of Sport Science, I found that the journal is not only free to read and download online, but also very expert and detailed. Therefore, I wondered if there were already experts and scholars who had analyzed the different dimensions of snow and ice sports, and all I needed to do was to find the papers and get inspiration from them.</p>

<p>I immediately looked through the papers on snow and ice sports published in Sports Science. It really turned out that I found two papers classifying ice and snow sports: <a href="http://images.sport.org.cn/File/2021/02/19/0906496157.pdf"><em>Norwegian Winter Sports Development Experience and the Enlightenment for China to Prepare for Beijing 2022 Winter Olympic Games</em></a> and <a href="http://images.sport.org.cn/File/2020/05/29/1329473175.pdf"><em>Winter Olympics single-sport athletes' participation winning characteristics and implications for participation in the 2022 Beijing Winter Olympics</em></a>.</p>

<img src="/static/assets/img/blogs_cn/winter_olympic_process/5.png" alt="">

<p class="img_sidenote text-left">In the paper <a href="http://images.sport.org.cn/File/2021/02/19/0906496157.pdf"><em>Norwegian Winter Sports Development Experience and the Enlightenment for China to Prepare for Beijing 2022 Winter Olympic Games</em></a>, Olympic ice and snow sports are divided into types of events dominated by endurance, speed, skill, tactics, rivalry, and difficult aesthetics</p>

<img src="/static/assets/img/blogs_cn/winter_olympic_process/6.png" alt="">

<p class="img_sidenote text-left">In the paper <a href="http://images.sport.org.cn/File/2020/05/29/1329473175.pdf"><em>Winter Olympics single-sport athletes' participation winning characteristics and implications for participation in the 2022 Beijing Winter Olympics</em></a>, Olympic ice sports are classified into 3 categories: competitive, skillful, and mixed</p>

<p>Based on the classification of winter Olympic competition events in two papers, I classify winter Olympic ice sports into four major categories: Endurance, Speed, Skill and Other. Different types match different ice and snow sports.</p>

<p>At this point, I have finally sorted out the logics of the Winter Olympic mini-games. I can proceed with the information collection of ice and snow sports programs.</p>

<img src="/static/assets/img/blogs_cn/winter_olympic_process/7.png" alt="">
<p class="img_sidenote">Different types contain their subdivisions of questions</p>

<h1>The data</h1>
<p>After sorting out the logics, we needed to equip text and diagrams for each ice and snow sports. Yi Zhang, Bai and I decided to divide the work among ourselves: cross-country skiing, speed skating, short track speed skating, and steel frame snowmobile were handled by Yi Zhang; alpine skiing, figure skating, and freestyle skiing were handled by me; ski jumping, snowboarding, curling, and ice hockey were handled by Yuxin Bai.</p>

<p>For the text content, we have thought about whether to focus on data, but the data of competitive sports often come from papers, and the content is more tough and boring. Therefore, we mainly focus on the history and development of the sport and the current situation of the sport, with supporting evidence of the winter Olympic medal chart.</p>

<p>The textual content is based on <a href="https://olympics.com/"><em>the official Olympic website</em></a> and <a href="https://www.beijing2022.cn/cn/olympics/ice_hockey.htm"><em>the Beijing Winter Olympic and Paralympic Games Organizing Committee</em></a>. Among them, <a href="https://olympics.com/zh/news/olympic-alpine-skiing-at-beijing-2022-top-five-things-to-know"><em>the five things you need to know</em></a>, <a href="https://olympics.com/zh/news/the-differences-between-alpine-skiing-disciplines"><em>the difference between each sport</em></a>, the Winter Olympic project pairing were all very beneficial to me.</p>

<p>Of course, what made me most happy was that while combing through the text content of freestyle skiing, I got to know two excellent skiers, Gu Ailing and Su Yiming. Later, when I saw their achievements in the Beijing Winter Olympics, I felt proud that they were "my favorites", haha ~ In addition, Xinhua's series of illustrated Beijing Winter Olympics projects also brought us some inspiration.</p>

<h1>The design & animation</h1>
<p>For the whole page design, I found a lot of examples on Dribble and Behance.</p>
<img src="/static/assets/img/blogs_cn/winter_olympic_process/8.png" alt="">
<img src="/static/assets/img/blogs_cn/winter_olympic_process/9.png" alt="">

<p>Based on the above example, I created the first version of the game UI interface:</p>

<img src="/static/assets/img/blogs_cn/winter_olympic_process/10.png" alt="">
<img src="/static/assets/img/blogs_cn/winter_olympic_process/11.png" alt="">

<p>But after creating the first version, I felt that the homepage was a bit bloated and lacked a sense of dynamic sports excitement. And at the same time, I found <a href="https://www.cubstudio.com/canadian-olympic-guides"><em>Team Canada - Olympic Sports</em></a> by Cub Studio, which is so cool! Totally my style!</p>

<img src="/static/assets/img/blogs_cn/winter_olympic_process/12.gif" alt="">
<img src="/static/assets/img/blogs_cn/winter_olympic_process/13.gif" alt="">

<p>While browsing their website, I also found that they posted a tutorial for animation on SkillShare——<a href="https://www.skillshare.com/classes/Simple-Character-Animation-Create-a-Walk-Cycle-with-Duik/1552954793?via=referral-landing-page"><em>Simple Character Animation: Create a Walk Cycle with Duik</em></a>. Fortunately, the site was free for the first month. I signed up and quickly finished my first AE animation.</p>

<img class="small_img" src="/static/assets/img/blogs_cn/winter_olympic_process/walk cycle.gif" alt="">

<p>The above animation is very simple, basically it just needs to determine the three points of the position during walking and then link them together.</p>

<p>After learning Walking Cycle, I was so bloated that I thought I knew it all, and started to animate alpine skiing while yelling "so easy". However, after my first attempt at animating alpine skiing, I was dumbfounded that this GIF was not only ugly, but also a little bit funny.</p>

<img class="small_img" src="/static/assets/img/blogs_cn/winter_olympic_process/滑雪.gif" alt="">

<p>After some adjustments, I decided that the GIF was too hard to refine, so I had to redo again. The second version was a little better than the first, but still a bit strange, and I needed to try one more time. Practice makes perfect. The third version is finally more acceptable.</p>


<p>The alpine skiing is just displacement on the plane, which is relatively simple. When I followed up with small animations of figure skating spins and freestyle skiing, the teaching of Walking Cycle Lesson just wasn't enough. Then I turned to YouTube, scrounging around for tutorials. After watching some videos, I found the following three to be quite useful.</p>

<ul>
  <li><a href="https://www.youtube.com/watch?v=AcEIT03Mrzk">An ULTIMATE guide to After Effects Character Rigging</a></li>
  <li><a href="https://www.youtube.com/watch?v=NkdS4C_ieiU">360 Animation Tutorial in After Effects - Flat Design Characters 2D Fake Animation</a></li>
  <li><a href="https://www.youtube.com/watch?v=tVzNMqBIgdw">How to create fake 3d head rotation animation using after effects tutorial</a></li>
</ul>

<p>The one thing that I feel a little regretful about is freestyle skiing. I always thought Cub Studio should not use the above fake 3d tutorial to create 3D-like motion animation by dragging and dropping points. But I didn't find a more professional way to create it. So while the freestyle skiing didn't work out quite like I expected, I had to stop there due to time constraints.</p>

<p>While making the GIFs, we also gave graphics and charts for each sport. For many of them, I refer to some poster designs related to <a href="https://br.pinterest.com/visualoop/olympics-infographics/">Olympics Infographics</a>on Pinterest. In addition, many of the icons I modified after downloading the svg icons from Flaticon.</p>

<h1>The development</h1>
<p>Web development was carried out throughout the project. The development was not too difficult, mainly using jQuery to string together the options and matching movement types.</p>

<p>What impressed me most was how the project went live with so many bugs ...... I held the computer during New Year evening to debug, it's really "work that makes me happy" :)......</p>

<p>For example, soon after the project went live, I received a notice that I can not use the five rings logo - news reports using the color of the five rings must be white, and can not also show the media brand.</p>

<img src="/static/assets/img/blogs_cn/winter_olympic_process/五环.jpg" alt="">

<h1>Final thoughts</h1>
<p>Overall, as my first long-term project after graduation, "What Winter Olympic Sports are You Fit For" is well done, with a good mix of text, interactivity, graphics, and animations, allowing readers to learn about the various snow and ice sports in a quick and easy way. However, there are still two shortcomings in the completion of the project.</p>
<ul>
  <li>Since I had not animated in AE before, and I was too confident that I can finish the animations in time. Originally I wanted to have an animation for each matching mini-event, but then I realized that I didn't have enough time to do them one by one</li>
  <li>Compared with some other Olympic-themed data-viz projects, the data dimensions of "What winter Olympic sports are you suitable for" are relatively limited. If readers can have richer extensions after doing the test and watching the related small projects, perhaps this project will be more in-depth</li>
</ul>


{% endblock %}
