{% extends 'layouts/cn/blog_demo.html' %}
{% block blog_title %} 一些关于开发的小吐槽 {% endblock %}
{% block blog_date %} 2021.8.6 {% endblock %}
{% block blog_content %}
<p>昨天来了个急活，做全国中高风险地区的数据汇总。我一看100多个，心想这不肯定得开发吗？结果要的急，国家数据源又不是开源的，就只能手打做图了。好家伙，这个又是“铂金汉宫”，那个又是“温莎城堡”。手给我打麻了，也给我逗乐了。</p>
<p>到晚上就不好笑了，数据更新了，还是乱序的。也就是说虽然只多了几个中高风险地区，但我要从头到尾数一遍。第一遍数完，我眼都快瞎了。更郁闷的是，数出来还漏了一个，我又得重新数…….所以我刚把第二版发给小伙伴，就赶紧看看怎么才能拿到数据源。</p>
<p>一开始我是通过在Chrome的ResourceSaver插件把网页下载下来看，但是下下来后发现只有第一页的数据我可以得到，原始的json我无法访问。</p>

<img src="/static/assets/img/blogs_cn/中高风险地区无法访问.png" alt="">
<p class="img_sidenote">无法访问数据库</p>

<p>我又试着能不能直接取得网页上展示的数据。但因为数据比较多，分为7页，每一页我点开的时候它才从json中取出。因此我用ResourceSaver插件下载下来的数据永远只有第一页的，气煞我也。</p>

<p>吐槽着数据源拿不出来的同时，我写完了做图需要的js。逻辑也很简单，就是在第一个p中得到数据的长度，然后将涉及的省按名字提取，分别计算各省有多少个中风险地区，并依次列出。</p>

<p>Js还是蛮顺畅的，我试完没啥问题后，就重新开始弄数据源，但是用八爪鱼爬虫也同样不行。可能是有反爬机制吧，我又遇到了同样的问题——它只有第一页，无法跳转。</p>

<img src="/static/assets/img/blogs_cn/中高风险地区只有第一页.png" alt="">
<p class="img_sidenote">气到变形</p>

<p>气归气，还是要直面它啊。迫不得已，我想出了一个笨办法——复制网页上的数据粘贴到Excel里。居然可以！虽然复制粘贴的数据不能立马使用，但好的是稍微清理一下就能用了。好耶，我再也不用一条一条对数据了～</p>

<p>下周一要把这个交给实习生们，希望她们可以优化一下步骤，说不定还有更加简便的办法⛽️</p>

<img src="/static/assets/img/blogs_cn/中高风险开发.png" alt="">
<p class="img_sidenote">最终成果的截图～要是每天手打真是哭晕</p>

{% endblock %}
