{% extends 'layouts/cn/blog_demo.html' %}
{% block blog_title %} 回国半年后 {% endblock %}
<!-- {% block blog_date %} 2021.7.14 {% endblock %} -->
{% block blog_content %}
<p>这是我回国后第一篇博文，本想在7月初发出来，但日子总是在我“玩一会”的想法中悄悄溜走……</p>
<p>半年前，我从UM毕业，变成了一只在帝都的搬砖狗。对着这个我本科蜗居4年的城市，我曾信誓旦旦，绝不再回来。但就在两年半后，我又回来了😂。作为工作的城市，北京倒是没那么糟——不用挤烤鸭炉一样的澡堂，单程通勤时间1小时内，我挺心满意足了。</p>
<p>身为新晋社畜，我很喜欢工作内容——可视化数据新闻，尽管写作不是我的强项，但部门侧重数据新闻，我冲了～来之前久仰部门的大名，我还做着一战封神之类的傻梦。</p>
<p>半年过去，激情逐渐消退，“白月光”倒没变成白米饭，只是我发现，耀眼的part永远是极少数高光时刻。更多时候，工作充满了琐碎枯燥的细节。现实生活中，别说“一战封神”，怎么找到这“一战”的机会，怎么磨练自己“一战”的能力，都够我一壶喝的。</p>
<p>我爸总说，工作最重要的是上班外的8小时，我现在才明白。就我个人而言，8个小时是不足以让我把工作变成事业的。</p>
<p>这话乍一听挺“内卷”，其实不然。对公司来说，我只是小小螺丝钉，快速、高效地出稿，抓住读者是我的职责；对我自己来说，能持久传播、有代表性的数据可视化作品是我的目标。这两者需要的时间不同，以我的时间利用效率，是不太可能在每天的8小时内同时完成二者。说实话，一项都够呛，不然有时候怎么还要加班干活呢？</p>
<p>因此，工作外的时间也得利用起来了。这也正常，如果这是我想要专注一辈子的事业，的确需要花费时间投资自己。如果人人都上班8小时就能成就乃至超越自己，那这个成就和超越不是跟快乐教育里的“everyone is winner”一样虚伪？</p>
<p>我这样想的同时，脑海里又出现另一个想法，尤其在每天上完班的时候会出现——都辛苦一天了，还不回家躺着呢？哎呀，就一天，回去看看剧和小说，明天再说嘛。</p>
<p>这声音充满诱惑，尤其是在我debug或者写稿子遇到困难的时候，“竖白旗”选项频率最高。</p>
<p>可能不少人有和我相似的经验，尽管有着远大的梦想，却总是做思想的巨人，行动的矮子。总是在幻想中完成了丰功伟业，从而在现实中麻痹自己“我都安排好了，只是需要时间”。而时间就这样被我们虚度了。</p>
<p>为了少竖点“白旗”，我也琢磨出了两个方法：</p>

<ul>
  <li>一是锻炼。有锻炼习惯后，我上完班不至于很疲惫，还有余力做其他的事。锻炼后，我的身体机能好了，拉伸后脖子跟背不酸痛了。之前一想到还要弄其他东西，我很容易唉声叹气、自怨自艾，现在好些了。身体是革命的本钱，没身体，啥事业规划都白费。</li>
  <li>二是看大神博客。对我来说等于免费打鸡血，哈哈！我特别喜欢看两位大神的个人网站——Nadieh Bremer和谢益辉。他们有种在单调的生活中“做自己”的魔力。我做自己的个人网站时，做不下去了就去看看他们这些大神，尤其是翻他们早期的博客，就会发现即使是行业内的大神，他们也有着苦闷和痛苦的时候。但只要坚持，人总会等到高光时刻的。</li>
</ul>

<p>虽然不知道我的高光时刻在什么时候，不过先继续努力吧～如果真的很难等，我就休息一会，看看剧和小说，还可以啃啃鸭头（毕竟廖记棒棒鸡的鸭头真的好吃，以及我爱美团外卖！）</p>

<img src="/static/assets/img/blogs_cn/new_home.jpeg" alt="">
<p class="img_sidenote">给新家厨房贴上墙纸</p>

{% endblock %}
