{% extends 'layouts/cn/blog_demo.html' %}
{% block blog_title %} 《浪潮之巅》读书报告 {% endblock %}
{% block blog_date %} 2020.7.12 {% endblock %}
{% block blog_content %}
<p>这本书是本不错的极简互联网发展史，里面有很多普及性的介绍，方便我这样的门外汉入门。作者虽然是计算机专业的学生，但看待事物充满了商业思维，所以读来很有趣。但是读到后面能感觉作者虽然极力从商业角度去理解产业发展、行业更迭，但总将企业的成功与失败归因于“基因论”（“公司进入成熟期后有着自己特定的基因，很难在新领域里获得成功。” 在某领域特别成功的大公司一定被优化得非常适应其市场，其企业文化，管理方法，商业模式等都会作为内在因素深深植入该公司。这就是为啥大公司转型之难，也是很多跨国企业衰落的根本原因。例子：IBM放弃PC业务，Apple的封闭之路，微软迟迟不能打开互联网市场，Symbian的伪开放。）</p>

<img src="/static/assets/img/blogs_cn/浪潮之巅.jpeg" alt="">

<p>我觉得基因论是吊诡偷懒的说法，就好比说美国比中国强是因为美国有“民主自由”的基因，而中国没有。诚然，作者这样简略写可能是因为篇幅所限，但我不认同基因论。与其说基因论，不如说是盛极必衰是行业趋势，所有朝阳产业都会变成夕阳产业，只不过因为互联网更迭非常快，快到其他行业几百年、几十年才会衰落淘汰的东西，互联网一两年就“大人，时代变了”。</p>

<p>另一个我不喜欢基因论的一点是作者总是强调创始人对公司有着多重的影响，事实上，除非创始人是乔布斯、比尔盖茨，其他的创始人在公司上市后并不像作者强调的多么厉害。3m是做木材起家，创始人对整个公司有很重要的影响吗？我不赞同作者宿命论的说法，因为也有新的ceo上任扭转局面的现象。</p>

<p>我赞同作者所说的“成也萧何、败也萧何”，比如ibm因为稳（给大企业、军方、政府提供服务）让它一直立于不败之地，但也一直是老二。但这不是基因，而正是盛极必衰是行业趋势，浪潮来了，它们乘风而起，浪潮退去，除非ceo能够抓住下一个浪潮，否则这个公司就会衰落，这是领袖的战略目光、布局与执行力所产生的结果，而不是所谓的公司“基因”。如果非要说基因，那到底是这个公司的基因不行，还是这个领导的基因不行呢？</p>

<p>包括后面对斯坦福大学的一番夸赞，要是我拿到此书时是高中生，真是恨不得以进入斯坦福大学为终生目标（当然我也进不去）。还有作者强调芬兰政府给诺基亚的支持是人才上的支持。论据是芬兰给民众提供从小学到大学的免费教育，这就为诺基亚提供了人才保障。看到这里我真是黑人问号，免费教育与人才保障有什么必然联系呢？感觉作者就是为了夸奖而强行找理由，且文中一些论据缺乏数据和逻辑，看看就好。（看着都隐约感受到了作者的政治立场，可能那个年代过来的知识分子，多多少少都有点这样吧=。=）</p>

<p>当然了，作为互联网普及还是很好的入门书籍，我还是很喜欢这本书，我接下去应该会看《a century of innovation the 3m story》和《韦尔奇自传》。看看这些传奇是怎样乘风破浪的。</p>

<p>在本书中，我最喜欢的部分是70-20-10律（John Sculley）部分：“一般来说，在信息科技的某个领域，存在一个占据着百分之六七十市场的老大，还有一个有着稳定的百分之二三十的市场的老二，剩下一群小商家占据百分之十或更少的市场。”</p>

<p>作者举了一个很有趣的例子。在传统的石油市场，最大的石油公司最多占10%多一点的市场份额，但是在互联网领域，最大的公司能占到50-60%的份额。为什么呢？</p>

<p>一是因为传统行业研发成本低，同时制造和营销成本高。因此他们更容易受地缘政治等因素的限制。比如汽车玻璃，钢材厂等，制造成本高。但是互联网企业制造和营销成本都很低，研发成本高。制造出一台Windows98电脑，就能制造出无数台。只要给你网络，你就能等使用google。所以巨头能够占据50-60%的市场份额。</p>

<p>但与超过一半的市场份额同时，是彼此的依存关系紧密。比如英特尔的芯片依赖微软的系统，比如google虽然在浏览器、互联网上打败了微软，但是是联合众多小公司才做到的，互联网公司更需要依附于盟友，很难仅靠自己一家公司变成巨头（苹果曾经想同时吃下系统、软件、网络，但是失败了）。</p>

<p>除了70-20-10律外，我还很喜欢诺威格定律（Peter Norvig）：“一家公司的市场占有率超过50%后，就无法再使市场占有率翻番了！” IT公司成长飞快，当一家公司占领了大部分市场时就必须考虑寻找新的成长点了，否则就会受制于某一行业的发展。两条路：扩展现有业务与转型。扩展成功例子：微软的Office，Google成立Android联盟。转型则容易失败，因为庞大的商业帝国的旧势力会牵制你进步。 </p>

<p>归根到底，所有公司都在掠夺新兴市场的流量。而每个市场的流量都是有限的，当市场逐渐饱和，公司就需要建立新的市场（比如几年前的直播行业，这两年的短视频）。这也可以作为我们个人的“活到老、学到老”的指标，过气不是一瞬间的事，其实早有预兆，只是之前颓势不显。我们在流量市场充沛时要努力获取流量，在流量停滞不前之前就要思考如何拓展现有业务，而不要冲动转型。</p>

<p>最后我比较喜欢的一点就是作者提及纽曼+洪堡的教育模式。和传统的儒家教育、“传道授业解惑”不同，洪堡强调，职业教育、技能教育成为大学的中心任务，这样大学生在学校学到的是真正有用的知识，走出校园就马上为社会服务。我非常赞同这种“学以致用”、不和现实脱轨的教育模式，从自己而言就是要看job description来补充自己的能力，走出校园就能马上干活：）</p>

<p>总的来说，这是本不错的互联网入门读物，看前面还是蛮热血沸腾的，只可惜我觉得最有价值的都不是作者本人的观点，对作者略微失望吧～不过还是学到很多，感激～</p>

<p>本书知识点（都是商业靓仔们发现总结的）：</p>

<ul>
  <li>摩尔定律（Gordon Moore） “每18个月，IT产品性能翻一番or相同性能的IT产品价钱降一半” 必须快速开发产品（要有钱啊）；新应用的大量涌现；现在的研发必须针对多年后的市场。 </li>
  <li>安迪-比尔定律 “比尔盖茨要拿走安迪格鲁夫所给的！即软件把硬件提示带来的好处用光鸟～” 软件的更新带动了硬件的更新，微软为首的软件开发商迫使用户更新机器，让惠普戴尔等公司收益，同时带动英特尔等公司的发展。 </li>
  <li>反摩尔定律（Eric Schmidt） “一个IT公司如果今天和18个月前卖掉同样多的相同产品，营业额就要降一半。” 硬件设备公司鸭梨很大啊，需要与摩尔定律赛跑。但这也逼着大家寻求产生质变的技术革新，促进了信息产业的飞速发展，也给了能抓住机遇的小公司腾飞的机会。 </li>
  <li>70-20-10律（John Sculley） “一般来说，在信息科技的某个领域，存在一个占据着百分之六七十市场的老大，还有一个有着稳定的百分之二三十的市场的老二，剩下一群小商家占据百分之十或更少的市场。” 行业霸主靠制定规则占据了很大优势，其他公司凭借技术和管理的小优势都不足以抗衡，这就是左右游戏规则的威力。例子：微软制定软件标准，Google阴影下的SEO，高通的CDMA2000标准。IT领域产生这种现象的原因：低制造成本，各环节的耦合性强，硬性的性能指标，反垄断法。 </li>
  <li>诺威格定律（Peter Norvig） “一家公司的市场占有率超过50%后，就无法再使市场占有率翻番了！” IT公司成长飞快，当一家公司占领了大部分市场时就必须考虑寻找新的成长点了，否则就会受制于某一行业的发展。两条路：扩展现有业务与转型。扩展成功例子：微软的Office，Google成立Android联盟。转型则容易失败。 </li>
  <li>基因决定定律——“公司进入成熟期后有着自己特定的基因，很难在新领域里获得成功。” 在某领域特别成功的大公司一定被优化得非常适应其市场，其企业文化，管理方法，商业模式等都会作为内在因素深深植入该公司。这就是为啥大公司转型之难，也是很多跨国企业衰落的根本原因。例子：IBM放弃PC业务，Apple的封闭之路，微软迟迟不能打开互联网市场，Symbian的伪开放。</li>
</ul>


{% endblock %}
