{% extends 'layouts/cn/blog_demo.html' %}
{% block blog_title %} “冰雪运动何以风靡全球”的制作过程 {% endblock %}
{% block blog_date %} 2022.5.4 {% endblock %}
{% block blog_content %}
<p>2022年2月4日，北京冬奥会正式开幕。而在此之前的2021年10月，我在组会上提出了冬奥长期项目的想法，领导们都非常支持。随即，我和同事张懿、实习生白雨欣成立了冬奥小分队。</p>

<p>此项目从立项到上线大约花了3个月的时间。第一个月，我们处于探索阶段。虽然有个模糊的想法，但是具体要做什么内容、需要什么数据都没有头绪。等到第二个月的时候，我们才确定了大概的内容和形式。换言之，推进此项目完成耗时约俩月。</p>

<h1>想法</h1>

<p>一开始，我们冬奥小分队本来是想把冰雪游的历史，放在冬奥运动的起源部分讲述。但随着整理的资料越来越多，我发现以冬奥运动小游戏的形式，塞下比较深度的历史内容，可能会显得庞杂、不易阅读。</p>

<p>因此，在征得领导同意后，我把冰雪游的历史单独摘出来，和小伙伴们一起扩充内容。因为冬奥小游戏侧重互动，偏轻阅读。我们就想着怎么能够把这篇涉及滑雪历史和中国大众滑雪市场现状的做得深入一些。</p>

<p>此前，大半年的文字工作教会了我：如果有什么东西不明白，那就去看论文、研报。只要啃的内容够深够多，我就能迅速了解一个行业。</p>

<h1>逻辑</h1>

<p>在和小伙伴们啃了不少文献后，我们确定了文章的逻辑。先从滑雪最初的起源展开，接着讲述滑雪在不同时代中扮演的不同角色，随即讲它在工业革命后怎样从贵族运动演变为大众产业。接着再过渡到中国冰雪产业现状。</p>

<img src="/static/assets/img/blogs_cn/snow_process/1.png" alt="">
<p class="img_sidenote">滑雪的历史变迁提纲</p>

<img src="/static/assets/img/blogs_cn/snow_process/2.png" alt="">
<p class="img_sidenote">中国冰雪产业现状提纲</p>

<p>到了中国大众冰雪产业的部分，我们则打算以国内早期几个大型滑雪场展开，讲讲这20年的变化。新增了多少滑雪场，疫情对它们有何冲击，目前国内冰雪运动产业链是怎样等等。值得一提的是，我们在读论文、看研报的时候发现，现在国内室内滑雪场越来越多、越来越大。此外，单板滑雪正崛起，慢慢蚕食着双板滑雪。</p>

<img src="/static/assets/img/blogs_cn/snow_process/3.png" alt="">
<p class="img_sidenote">我和燕俊分配了任务，设了due</p>

<p>在滑雪历史的部分，Andrew Denning所写的<a href="https://www.jstor.org/stable/43280379"><em>《Alpine Modern: Central European Skiing and the Vernacularization of Cultural Modernism, 1900–1939》</em></a>令我受益匪浅。作者在文中提及“Beginning in the mid-nineteenth century, a rapidly growing, socially elite group of hikers, mountain climbers, cure seekers, ice skaters, holiday-makers, Sommerfrischler, and spa patrons, all of whom drew inspiration from Romantic landscape aesthetics, sought to escape urban life in ‘the playground of Europe’”欧洲滑雪运动从贵族走向大众的佐证。</p>

<p>另一篇我很喜欢的文章则是Fergus Fleming的《The Alps and the Imagination（阿尔卑斯山与想象）》。作者提到在18世纪之前，“阿尔卑斯旅行的危险与人们普遍的想象相互交织。 迷信笼罩着群峰：巫婆在冰上跳舞；一群不知来自何地的奇异的人住在雪线之上，许多龙在高坡上繁衍滋生，随时准备把不自量力的侵入者化为灰烬。传言龙首上的魔石可以用来治愈出血、痢疾、腹泻、瘟疫、流鼻血等病症。人们可以乘龙睡觉的时候，点燃香草进入龙穴，杀死它获得这种魔石。 但必须小心冀冀，如果龙在醒的时候被杀死，石头就没有神效了。“</p>

<p>除了上述两篇文章外，<a href="https://www.nrs.fs.fed.us/pubs/gtr/gtr_ne57/gtr_ne57_1_105.pdf"><em>SKIING TRENDS</em></a>、<a href="https://blog.lartisien.com/2020/02/st-moritz-a-winter-playground/"><em>St Moritz, A Winter Playground</em></a>、<a href="https://www.summitpost.org/a-short-introduction-to-the-history-of-mountain-guiding/915085"><em>A short introduction to the history of mountain guiding</em></a>、<a href="https://zhuanlan.zhihu.com/p/145940239"><em>滑雪缆车进化史</em></a>、清华大学体育部叶茂盛等人所写的《阿尔卑斯地区滑雪场的发展历程与启示》和《从精英到大众：阿尔卑斯地区高山滑雪发展与启示》均值得一读。</p>

<img src="/static/assets/img/blogs_cn/snow_process/4.png" alt="">
<p class="img_sidenote">我们从论文中梳理了圣莫里茨的发展时间线</p>

<h1>数据</h1>
<p>对于历史部分，我们的数据主要从论文中获取。不少欧洲的高山协会会登记他们的会员人数。一些知名的山峰也有早期登顶人数与国籍等记录。</p>

<img src="/static/assets/img/blogs_cn/snow_process/5.png" alt="">
<p class="img_sidenote">1786年至1878年期间按国籍划分的勃朗峰登顶情况</p>

<img src="/static/assets/img/blogs_cn/snow_process/6.png" alt="">
<p class="img_sidenote">从论文、杂志等资料来源中梳理的部分数据</p>

<p>到了现代部分，国际宏观数据主要来自Laurent Vanat的<a href="https://www.vanat.ch/RM-world-report-2021.pdf"><em>《2021 International Report on Snow & Mountain Tourism——Overview of the key industry figures for ski resorts》</em></a>。国内的数据则主要来自北京奥运城市发展促进会、国研经济研究院中国冰雪经济研究中心等联合发布的《中国滑雪产业白皮书》、《新型冠状病毒感染的肺炎疫情对中国冰雪产业的影响调查报告》、《2019-2020年中国冰雪产业发展研究年度报告》、《2021中国冰雪产业发展研究报告》、《2021年冰雪产业发展研究报告》等。</p>

<p>此外，文中一些细节来自<a href="https://m.mp.oeeee.com/a/BAAFRD000020211229638786.html">《中国造雪20年：从树林里背雪覆盖赛道，到自主研发造雪系统》</a>。部分内容源自我们联系融创后获得的采访资料。</p>

<h1>地图</h1>
<p>文中的雪深地图来自<a href="https://data.tpdc.ac.cn/zh-hans/data/df40346a-0202-4ed2-bb07-b65dfcda9368/">中国雪深长时间序列数据集Long-term series of daily snow depth dataset in China (1979-2021)</a>。</p>

<p>Because the data is daily, if you want to get a year of cumulative data, you need to also use python to process the number of single days per year to get the average snow depth per year. This part was processed by my boyfriend Fat Tiger (a well-known supernumerary :)). Then the intern Li Xiaoyin used ArcGIS to process and export the SVG file.</p>

<img src="/static/assets/img/blogs_cn/snow_process/7.png" alt="">
<p class="img_sidenote">笑寅第一次导出的SVG图</p>

<p>地图上的滑雪场数据是去哪儿提供的。不过去哪儿只提供了名称和地点等信息，没有开业时间。开业时间是我们几个人人工统计获取的。</p>

<img src="/static/assets/img/blogs_cn/snow_process/8.png" alt="">
<p class="img_sidenote">大家用在线表格统计滑雪场开业信息</p>

<h1>插画</h1>
<p>这次项目的插画由同事董必奇绘制完成。我先整理打包了圣莫里茨的图片发给他，然后和他沟通需要绘制的图像，及叠加在原图上的不同元素（随着页面滚动，出现电灯、电车、缆车、造雪机）。他画得很快，和整个网页的页面设计也十分契合。不过在过程中，我的表达不到位，害得他以为只用出两张图，使得他多费了些功夫拆分图层。</p>

<img src="/static/assets/img/blogs_cn/snow_process/9.png" alt="">
<img src="/static/assets/img/blogs_cn/snow_process/10.png" alt="">
<p class="img_sidenote">我整理给董必奇的资料截图</p>

<h1>开发</h1>

<p>这个项目也是我第一次用scrolly-telling的方式讲故事。当我看到页面能够按我的设想滑动时，真的很激动！不过这次scrolly只涉及了图片的切换而不是D3数据本身的交互变化，希望在下一个项目中我可以做到数据的切换（希望不会出现费解的bug）。</p>

<p>除了scrolly的部分，这个项目并没有太多其他的交互元素。开发难度不大。值得一提的反倒是需要注意电脑端和手机端的阅读感受不同，调整和切换图片的大小、位置，字的大小等等。最好在开发的时候就先预设好手机端的模块要怎么布局，如果等网页端全部做完了再考虑手机端，那就有些迟了。</p>

<h1>感想</h1>

<p>总体而言，我对此次项目还是十分满意的。内容很翔实，同时信息、插图都丰富了读者的阅读体验。读者们的反馈也不错。不过在过程中，由于我缺乏经验、代码基础薄弱，还是出了许多绊子：</p>

<ul>
  <li>图片多的项目需要增加进度条</li>
  <p>在上线之前，我遇到了一个很折磨的bug。就是scrolly需要获取此时它在页面的高度。一般来说，这个高度是固定的。但是由于图片加载的原因，如果在前方图片未加载完读者就下滑至需要scrolly的地方，页面就会错乱。</p>
  <img src="/static/assets/img/blogs_cn/snow_process/11.png" alt="">
  <p>我一开始不知道是图片没有加载出来导致的，还以为就是scrollTop取不到正确的值。然后因为新年放假回家，也没人可问。尝试了无数次后终于发现是因为中间img没加载出来，高度为0所以影响了scrollTop的值。</p>
  <p>在增加了preload进度条和手动设定图片高度的双重保险后，我终于解决了这个可恶又简单的bug。（在发现图片高度为0的时候，真的对自己很无语……）</p>
  <li>溢出没有被剪裁</li>
  <p>第二个问题就是在手机端，图片的宽度往往远大于手机屏幕的宽度，用户如果不注意，就会滑框。此时需要设定：overflow-x: hidden;</p>
  <p>注：overflow-x 属性规定是否对内容的左/右边缘进行裁剪 - 如果溢出元素内容区域的话。</p>
  <img src="/static/assets/img/blogs_cn/snow_process/12.png" alt="">
  <li>翻译错误</li>
  <p>有时候细节错误很难避免。比如奥斯特里奇阿尔卑斯山协会…但是懂的人发现就会比较搞笑😂诶，以后发布前再注意一下翻译是否正确。</p>
  <img src="/static/assets/img/blogs_cn/snow_process/13.png" alt="">
  <li>付费墙</li>
  <p>上一个我负责的交互项目是免费的 ，不需要加付费墙。这次是付费项目，所以需要另加几段付费代码。而我从过往代码中复制过来后，改得不太顺利。由于是新年，也只能摸索着慢慢改。一边改一边吐槽自己老是拖延，把简单的事情都变复杂了。</p>
  <li>图片版权</li>
  <p>因为有付费墙，这个项目属于商业项目。所以图片是否有商业授权就格外重要（我可不想被告QAQ）。其实有一些有趣的图片，由于版权原因没法放到文中，还是有点可惜的。</p>
</ul>


{% endblock %}
