{% extends 'layouts/base.html' %}

{% block title %} About {% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/horizontal_resume.css">
{% endblock stylesheets %}
{% block content %}

<div class="header pb-6 d-flex align-items-center"
     style="min-height: 500px; background-image: url(/static/assets/img/profile.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white" style="margin-top: 30px;">Hello, I'm Yutong Han</h1>
        <p class="text-white mt-0 mb-5">A data journalist in Caixin for one and a half years, who enjoy telling a data-driven story through visualization. Hoping to raise a cat next year. Recent works:</p>

        <p class="text-white mt-0"><a href="https://datanews.caixin.com/2022-07-22/101916671.html">《苦夏！今夏为何持续热浪滚滚？（交互项目）》</a></p>
        <p class="text-white mt-0"><a href="https://datanews.caixin.com/2022-06-28/101905287.html">《北京环球影城之困》</a></p>
        <p class="text-white mt-0 mb-5"><a href="https://datanews.caixin.com/2022-07-09/101910344.html">《市场规模近千亿元 鲜花电商会一直火下去吗？（交互项目）》</a></p>

        <a href="/resume" class="btn btn-neutral">View PDF Resume</a>

        <!-- online horizontal resume -->
        <section id="process">
            <div class="steps-timeline">
                <div class="steps-columns">
                    <h3>2017</h3>
                    <div class="end-circle"></div>
                    <div class="step-wrap">
                        <div class="steps-stops">
                            <div class="verticle-line"></div>
                        </div>
                    </div>
                    <div class="inverted-pane-warp">
                        <p>Bachelor Degree</p>
                        <p class="small-font">Psychology</p>
                    </div>
                </div>
                <div class="steps-columns">
                    <h3>2020</h3>
                    <div class="step-wrap">
                        <div class="steps-stops">
                            <div class="verticle-line"></div>
                        </div>
                    </div>
                    <div class="inverted-pane-warp">
                        <p>Master Degree</p>
                        <p class="small-font">Interactive Media</p>
                    </div>
                </div>
                <div class="steps-columns">
                    <h3>Current</h3>
                    <div class="step-wrap">
                        <div class="steps-stops">
                            <div class="verticle-line"></div>
                        </div>
                    </div>
                    <div class="inverted-pane-warp">
                        <p class="small-font">Data Journalist in Caixin</p>
                    </div>
                </div>
            </div>
          </section>

      </div>
    </div>
  </div>
</div>



<!-- Page content -->
<div class="container-fluid mt--6">
  <br><br><br>
{% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
