{% extends 'layouts/cn/projects_demo.html' %}
{% block blog_title %} 东方奇幻世界 {% endblock blog_title%}
{% block blog_date %} 2020.2.1 - 2020.12.1 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">

  <h3>链接</h3>
  <p><a href="https://yutonghan1123.github.io/twelvekingdoms-master/">东方奇幻世界</a></p>

  <h3>工具</h3>
  <p>D3.js &nbsp; Python &nbsp; R</p>
</div>

<p class="projects_right">在研究生时期，我曾看过<em>哈利波特</em>、<em>冰与火之歌</em>、<em>老友记</em>的数据可视化作品，很有趣。作为我少女时期最爱的作品，<em><a href="https://en.wikipedia.org/wiki/The_Twelve_Kingdoms">《十二国记》</a></em>在我心中占据着重要地位。当我开始准备毕业作品时，不禁想到，工作以后可能少有这样，全身心投入喜欢事物的数据可视化时光了。既然如此，何不把我最爱的动漫作品和我热爱的数据可视化结合起来呢？</p>

<p>当我把想法告诉Lenny教授时，他很赞同，并鼓励我这么做（教授非常可爱，还在网上看英文的全职高手，哈哈～）。紧接着我就向Cairo汇报了我的想法，他也十分支持我。因此，《十二国记》的小说和动画相关的数据如何获取，如何变为有意义的图，就成为我项目的痛点。</p>

<p>不像之前的项目，数据基本上都是各类数据库里现成的，我只需要下载就行了。这是我第一次爬取和处理复杂的数据，有幸数次经历崩溃时刻，让我发出来土拨鼠式嚎叫。</p>

<img src="/static/assets/img/blogs_cn/blogs_土拨鼠_啊.gif" alt="">

<p>但没办法，我得毕业呀，只能在嚎叫收声后继续研究。所幸最后出来的结果不错，我也挺满意：）尤其感谢Cairo和Lenny教授，一直毫无保留地帮助我完成毕业作品，可以说没有他们，我很大可能做不完。感谢他们每周愿意听取我的进展，给予指导意见。</p>

<p>希望这个奇幻世界能让不知道《十二国记》的读者也觉得有点意思，这是项目的从想法到开发完成的经过博客——<a href="/blogs/12kingdoms_process">the design process of "An Eastern Fantasy World"</a>。</p>


{% endblock %}
