{% extends 'layouts/cn/projects_demo.html' %}
{% block background_image %}
background-image: url(/static/assets/img/projects/from_ancient_cover.png);
{% endblock background_image %}

{% block blog_title %} 从蓝印花布到牛仔裤 {% endblock blog_title%}
{% block blog_date %} 2019.9.12 - 2019.12.20 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">

  <h3>链接</h3>
  <p><a href="https://yutonghan1123.github.io/indigo/">从蓝印花布到牛仔裤</a></p>

  <h3>工具</h3>
  <p class="tool">D3.js</p>
  <p class="tool">Adobe Illustrator</p>
  <p class="tool">Procreate</p>
</div>

<p class="projects_right">在<a href="http://albertocairo.com/">Alberto Cairo</a>教授数据可视化进阶课上做的项目，我特别喜欢～灵感来源于我看的一本书——《博物馆里的极简中国史》，里面提到了传统的蓝染花布在清末被洋布所取代。我觉得很有趣，在搜集相关资料的时候又发现牛仔裤是通过工业蓝染技术上色，中国又是最大的牛仔裤出口国。某种程度上，蓝染花布见证了旧中国的衰落与新中国的崛起。这不恰巧能讲一个有趣的故事吗？
</p>

<p>整个创作过程，除了找数据的时候有遭受过阻碍外，都让我很快乐。画封面、动图，设动效、风格……真希望我能赶紧做出比它精心的项目呀！</p>

<p>这是项目的从想法到开发完成的经过博客——<a href="/blogs/from_ancient_process">the design process of "From Ancient Cloth in China to Your Jeans"</a>。</p>

<img src="/static/assets/img/projects/bluejeans.png" alt="">


{% endblock %}
