{% extends 'layouts/cn/projects_demo.html' %}
{% block background_image %}
background-image: url(/static/assets/img/projects/invest_game.gif);
{% endblock background_image %}
{% block blog_title %} 养基达人修炼手册 {% endblock blog_title%}
{% block blog_date %} 2021.6.23 - 2021.11.4 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">

  <h3>链接</h3>
  <p><a href="https://datanews.caixin.com/interactive/2021/invest-game1/">养基达人修炼手册</a></p>

  <h3>工具</h3>
  <p class="tool">Adobe Illustrator</p>
</div>

<p class="projects_right">此项目源于我来财新后的第一篇稿子<a href="https://datanews.caixin.com/2021-03-03/101670174.html">《基金理财赚钱的秘诀》</a>。这也是我来财新后，老耿让我做的首个选题。而在这之前，我对基金一无所知。
<br /><br />
没办法，记者嘛，不能因为不了解，就不做。但是，即便我啃了不少研报，写的稿子还是一塌糊涂（现在都不敢回看）。</p>

<p>不过，韦梦在稿子中开发的互动小游戏 <a href="https://datanews.caixin.com/interactive/2021/iframe/fund/">能不能赚钱，时机最重要</a> 倒是颇受欢迎。我们数字说小队的人都玩了数次，想看看啥时候卖出能够赚得最多。</p>

<p>以上述小游戏为契机，我们随后又有了机会制作进阶的基金小游戏。韦梦负责策划和开发，我负责数据和设计。数据倒是简单，我们在精心挑选几只基金后，从同花顺中下载了它们过去几年的真实数据。设计的话，我在搜集了相关元素后，相中了下面两款：</p>

<ul>
  <li><a href="https://i.pinimg.com/originals/26/13/15/261315be087ea3772ffca8b63fe64e76.gif">小动画：礼品打包</a></li>
  <li><a href="https://showcase.overlay-tech.com/project/e7b3f4a2-df1f-4581-8e72-94ded7dda88b/components">UI组件搭配</a></li>
</ul>

<p>以上述元素为灵感，我很快设计出了游戏的流程图：</p>

<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest1.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest2.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest3.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest4.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest5.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest6.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest7.jpg" alt="">

<p>作为毕业后首次参与的长期交互项目，我对《养基达人修炼手册》的设计还是比较满意的。唯一有点美中不足的是，我在这个阶段还不会做关键帧小动画，动画是由韦梦完成的。如果换成现在的我，这个小动画应该能快速完成～</p>


{% endblock %}
