{% extends 'layouts/cn/projects_demo.html' %}
{% block background_image %}
background-image: url(/static/assets/img/projects/clarify.png);
{% endblock background_image %}

{% block blog_title %} 生活污水去了哪儿 {% endblock blog_title%}
{% block blog_date %} 2019.1.31 - 2019.3.7 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">
  <h3>工具</h3>
  <p class="tool">Maya</p>
  <p class="tool">Adobe Illustrator</p>
  <p class="tool">Flourish</p>
</div>

<p class="projects_right">这是我在Hiram的3D建模课上做的项目，Maya很有趣～就是渲染的时候有点烧电脑，哈哈！我的项目内容是污水的处理流程和海洋排污带来的影响。Hiram教授非常专业，手把手教我们用Maya。我还做了一只3D乌龟呢～（虽然没有上色）</p>

<p>这是项目的最终版本：</p>

<iframe src="/static/assets/img/projects/3d.pdf" width="100%" height="450px"></iframe>


{% endblock %}
