{% extends 'layouts/cn/projects_demo.html' %}
{% block background_image %}
background-image: url(/static/assets/img/projects/hkfilm.png);
{% endblock background_image %}

{% block blog_title %} 为什么人们不再喜欢香港电影 {% endblock blog_title%}
{% block blog_date %} 2019.9.29 - 2019.12.10 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">

  <h3>链接</h3>
  <p><a href="https://yutonghan1123.github.io/HKFilms/">为什么人们不再喜欢香港电影</a></p>

  <h3>工具</h3>
  <p class="tool">D3.js</p>
  <p class="tool">Adobe Illustrator</p>
  <p class="tool">Procreate</p>
</div>

<p class="projects_right">还记得小时候，妈妈老家最火热的集市写着“小香港”；初中时，有同学用不标准的粤语重复着电影里的台词、模仿着《月半小夜曲》的音调。那时的香港电影如日中天，香港在所有人心中是前卫、潮流都市的象征。</p>

<p>然而，过去的香港电影在变成经典的同时，新出的港片却成为了烂片的同义词。港式功夫、喜剧片逐渐式微。</p>

<p>导致港片没落的原因有哪些呢？也许，李小龙之死、特效电影的崛起与香港脆弱的经济可以回答这个问题——<a href="https://yutonghan1123.github.io/HKFilms/">为什么人们不再喜欢香港电影</a>。</p>

<p>以及文字稿版本：</p>

<iframe src="/static/assets/img/projects/hk.pdf" width="100%" height="450px"></iframe>


{% endblock %}
