{% extends 'layouts/cn/projects_demo.html' %}
{% block background_image %}
background-image: url(/static/assets/img/projects/winter_olympic.gif);
{% endblock background_image %}
{% block blog_title %} 你适合什么冬奥运动 {% endblock %}
{% block blog_date %} 2021.11.1 - 2022.1.26 {% endblock %}
{% block blog_content %}

<div class="projects_list">
  <h3>链接</h3>
  <p><a href="https://datanews.caixin.com/interactive/2022/winter-olympics-game/">你适合什么冬奥运动</a></p>

  <h3>工具</h3>
  <p class="tool">Adobe After Effects</p>
  <p class="tool">Adobe Illustrator</p>
  <p class="tool">jQuery</p>
</div>

<p class="projects_right">2022年2月4日，北京冬奥会正式开幕。前一年的10月，我在组会上提出了冬奥长期项目的想法，领导们都非常支持。随即，同事张懿、实习生白雨欣和我成立了冬奥小分队。<br /><br />
我们最初的想法，是根据冬奥各个项目运动员的身体数据（比如身高体重、手脚长度），让读者们选择对应天赋的运动。灵感源自华盛顿邮报的<a href="https://www.washingtonpost.com/graphics/sports/olympics/olympic-body-types/">Which Olympic Sports Fit Your Body?</a></p>

<p>除了隔一日疫情数据、每周数字说mini供稿用时外，我花了约俩月时间，专注在此项目上。</p>
<p>代码难度不大，项目小动画的难度最大。由于我此前没有用AE制作过动画，全程在Skillshare和YouTube自学。虽然制作过程挺有意思，但也频频深夜在公司破防。</p>

<img src="/static/assets/img/blogs_cn/blogs_动画折磨.jpeg" alt="" style="max-width: 640px;">
<p class="img_sidenote">每日被动画折磨的我</p>

<p>还好结果比较令人满意:)希望你也喜欢。如果想了解项目的具体制作过程，请点击👇</p>

<div class="alert alert-primary" role="alert" style="width: 270px;">
  <a href="../blogs/winter_olympic_process" style="color: white;">“你适合什么冬奥运动”的制作过程</a>
</div>

{% endblock %}
