{% extends 'layouts/cn/base.html' %}

{% block title %} 项目 {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/projects.css" type="text/css">
<style>
  .background_image {
    position: relative;

    {% block background_image %}
    background-image: url(/static/assets/img/projects/12kingdoms_intro.png);
    {% endblock background_image %}
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="header pb-2 d-flex align-items-center">
  <!-- Header container -->
  <div class="container-fluid background_image">
    <div class="row">
      <div class="col-lg-7 col-md-10 background_text">
        <h1 class="display-2">{% block blog_title %} title {% endblock blog_title%}</h1>
        <p>{% block blog_date %} date {% endblock blog_date %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-2" style="margin: auto; max-width: 900px;">
  <article>

  {% block blog_content %}

  {% endblock %}
  </article>

  <h1>See Also</h1>
    <br>
  <div class="row" id="projects_id">
</div>




<div class="container-fluid">
  {% include "includes/footer.html" %}
</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script type="text/javascript">
  projects_data = '/static/assets/data/projects_list.csv';
  // console.log(projects_data);

  d3.csv(projects_data, function(data) {
    var projects_div = document.getElementById('projects_id');
    // console.log(projects_div);

    for (var i = 0; i < 4; i++) {
      var div = document.createElement("div");
      div.className = "col-xl-3 col-md-6";

      var image = document.createElement("img");
      image.src = "http://yutonghan.pythonanywhere.com/" + data[i].img_source;
      image.className = "card-img-top";
      div.appendChild(image);

      var divChild = document.createElement("div");
      divChild.className = "card-body";
      div.appendChild(divChild);

      var h5 = document.createElement("h5");
      h5.className = "card-title";
      h5.appendChild(document.createTextNode(data[i].cn_title));
      divChild.appendChild(h5);

      var p = document.createElement("p");
      p.className = "card-text";
      p.style.fontSize = ".8rem";
      p.style.margin = "0 0 1rem 0";
      
      // const first20 = data[i].cn_text.split(' ').slice(0, 10).join(' ') + "...";
      p.appendChild(document.createTextNode(data[i].cn_text));
      divChild.appendChild(p);

      var a1 = document.createElement("a");
      a1.className = "btn btn-pink btn-sm";
      console.log(data[i].cn_link)
      a1.href = "../" + (data[i].cn_link);
      a1.appendChild(document.createTextNode("阅读更多"));
      divChild.appendChild(a1);

      // console.log(data[i].img_source);
      projects_div.appendChild(div);

    }
  });
</script>
{% endblock javascripts %}
