
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a target="_blank"
                 href="#"
                 class="font-weight-bold ml-1" target="_blank">Design & Code</a> by Yutong Han
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <!-- Design & Code by Yutong Han -->
              <a class="pr-0" href="https://twitter.com/KoreanChocolat2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="/static/assets/img/theme/twitter.png">
                </span>
              </a>

              <a class="pr-0" href="mailto:hanyutong19951123@gmail.com" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="/static/assets/img/theme/email.png">
                </span>
              </a>

              <a class="pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="/static/assets/img/theme/bilibili.png">
                </span>
              </a>

              <a class="pr-0" href="https://www.linkedin.com/in/yutonghan1123/" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="/static/assets/img/theme/linkedin.png">
                </span>
              </a>
            </div>
          </div>
        </div>
      </footer>
