<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center" style="height: 130px;">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/logo01.png" class="navbar-brand-img" alt="Yutong Han Logo" style="max-height: 120px;">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'projects' in segment %} active {% endif %}" href="/projects">
              <i class="ni ni-chart-bar-32 text-primary"></i>
              <span class="nav-link-text">Projects</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'about' in segment %} active {% endif %}" href="/about">
              <i class="ni ni-single-02 text-primary"></i>
              <span class="nav-link-text">About</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'home' in segment %} active {% endif %}" href="/#get-in-touch">
              <i class="ni ni-send text-primary"></i>
              <span class="nav-link-text">Contacts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'blogs' in segment %} active {% endif %}" href="/blogs">
              <i class="ni ni-book-bookmark text-primary"></i>
              <span class="nav-link-text">Blogs</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <!-- <hr class="my-3"> -->
        <!-- Heading -->
        <!-- <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Resources</span>
        </h6> -->
        <!-- Navigation -->
        <!-- <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="https://www.creative-tim.com/product/argon-dashboard-flask" target="_blank">
              <i class="ni ni-palette"></i>
              <span class="nav-link-text">Product Info</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard-flask/docs/1.0/getting-started/getting-started-flask.html" target="_blank">
              <i class="ni ni-spaceship"></i>
              <span class="nav-link-text">Docs</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active active-pro"
               target="_blank"
               href="https://www.creative-tim.com/templates/flask">
              <i class="ni ni-send text-dark"></i>
              <span class="nav-link-text">More Starters</span>
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</nav>
