{% extends 'layouts/projects_demo.html' %}
{% block blog_title %} An Eastern Fantasy World {% endblock blog_title%}
{% block blog_date %} 2020.2.1 - 2020.12.1 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">
  <h3>Client</h3>
  <p>Myself</p>

  <h3>Link</h3>
  <p><a href="https://yutonghan1123.github.io/twelvekingdoms-master/">An Eastern Fantasy World</a></p>

  <h3>Tool</h3>
  <p>D3.js &nbsp; Python &nbsp; R</p>
</div>

<p class="projects_right">We are familiar with the western fantasy world, like <em>Harry Potter</em>, <em>Game of Thrones</em>. But do you know the eastern fantasy world? Maybe you are an anime fan and you are familiar with One Piece, Naruto. However, I guess you never watch, even didn’t hear this anime-the Twelve Kingdoms.
</p>

<p><em><a href="https://en.wikipedia.org/wiki/The_Twelve_Kingdoms">The Twelve Kingdoms</a></em> is my favorite anime. They originally are a series of fantasy novels wrote by Fuyumi Ono. Because it’s famous, the work was made into an anime in 2002. It’s not the best-seller compared with Naruto or One Piece. But it has loyal audiences. In <a href="https://www.bilibili.com/bangumi/play/ep44974">Bilibili</a> (like Chinese Youtube), it has over 4,437,000 views. Over 106,000 screen bullets will stay with you when you watch the anime. In addition, the novels are available for online reading and download. It's convenient for me to reuse. I’d like to invite you to enjoy the story of the Twelve Kingdoms through data visualization. </p>

<p>here is <a href="../blogs/12kingdoms_process">the design process of "An Eastern Fantasy World"</a>.</p>

<img src="../static/assets/img/projects/12kingdoms.png" alt="">


{% endblock %}
