{% extends 'layouts/projects_demo.html' %}
{% block background_image %}
background-image: url(/static/assets/img/projects/from_ancient_cover.png);
{% endblock background_image %}

{% block blog_title %} From Ancient Cloth in China to Your Jeans {% endblock blog_title%}
{% block blog_date %} 2019.9.12 - 2019.12.20 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">
  <h3>Client</h3>
  <p>Myself</p>

  <h3>Link</h3>
  <p><a href="https://yutonghan1123.github.io/indigo/">From Ancient Cloth in China to Your Jeans</a></p>

  <h3>Tool</h3>
  <p>D3.js &nbsp; Adobe Illustrator &nbsp; Procreate</p>
</div>

<p class="projects_right">On August 20th 2019, I attended professor <a href="http://albertocairo.com/">Alberto Cairo</a>’s Infographics and Data Visualization Studio course. We needed to individually develop a large visualization project in 4 months. I chose Chinese indigo dyeing as my topic. Many Chinese northern village workers relied on indigo dyeing for their livelihood last century. But their businesses were going up in flame, because industrial indigo was successfully developed overseas.</p>

<p>It is much cheaper than hand-made indigo. In the early 20th century, Chinese indigo workers were also war-torn. To some extent, indigo mirrored the decline and revival of China. In this blog, I’ll be taking you through the long design and creation process of the project “From Ancient Cloth in China to Your Jeans”.</p>

<p>This project took me more than 4 months, and it's my first time to tell a story about Chinese traditional culture. It’s a huge challenge for me. but for people who want to know more about the process of data visualization, I hope it will be helpful. Thanks to professor Cairo and Lenny, I can’t finish the project without their help.</p>

<p>here is <a href="../blogs/from_ancient_process">the design process of "From Ancient Cloth in China to Your Jeans"</a>.</p>

<img src="../static/assets/img/projects/bluejeans.png" alt="">


{% endblock %}
