{% extends 'layouts/projects_demo.html' %}
{% block background_image %}
background-image: url(/static/assets/img/projects/invest_game.gif);
{% endblock background_image %}
{% block blog_title %} The Way to Be A Fund Master {% endblock blog_title%}
{% block blog_date %} 2021.6.23 - 2021.11.4 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">
  <h3>Client</h3>
  <p>E Fund Management Co., Ltd.</p>

  <h3>Link</h3>
  <p><a href="https://datanews.caixin.com/interactive/2021/invest-game1/">The Way to Be A Fund Master</a></p>

  <h3>Tool</h3>
  <p class="tool">Adobe Illustrator</p>
</div>

<p class="projects_right">This project originated from my first article after I came to Caixin, <a href="https://datanews.caixin.com/2021-03-03/101670174.html">"The secret of making money from fund management"</a>.
<br /><br /> 
This is also the first topic that Mr. Geng asked me to do after I came to Caixin. Before that, I knew nothing about funds.</p>

<p>I had no choice. As a journalist, I couldn't stop doing it because I didn't have any understanding. However, even though I chewed a lot of research reports, the writing was still a mess (now I dare not even look back).</p>

<p>Notably, the interactive mini-game developed by Weimeng in the article <a href="https://datanews.caixin.com/interactive/2021/iframe/fund/">Can you make money, timing is most important</a> is quite popular. We played it several times ourselves to see when we could make the most money by selling.</p>

<p>With the above mini-game as an opportunity, we then had the chance to make advanced fund mini-games. Wei Meng was in charge of planning and development, and I was in charge of data and design.</p>

<p>The data part was simple, we picked a few funds and downloaded their real data from iFind for the past few years. For the design, after collecting relevant elements, I settled on the following two.</p>

<ul>
  <li><a href="https://i.pinimg.com/originals/26/13/15/261315be087ea3772ffca8b63fe64e76.gif">Small animation: gift wrapping</a></li>
  <li><a href="https://showcase.overlay-tech.com/project/e7b3f4a2-df1f-4581-8e72-94ded7dda88b/components">UI component matching</a></li>
</ul>

<p>Inspired by the above elements, I quickly designed the flowchart of the game.</p>

<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest1.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest2.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest3.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest4.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest5.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest6.jpg" alt="">
<img class="small_img" src="/static/assets/img/blogs_cn/invest_game/invest7.jpg" alt="">

<p>As my first long-term interactive project after graduation, I am satisfied with the design of <a href="https://datanews.caixin.com/interactive/2021/invest-game1/">The Way to Be A Fund Master</a>. The only thing is that I couldn't do the keyframe animation at this stage, the animation was done by Wei Meng. If it were me now, this small animation should be done quickly~</p>

  
{% endblock %}
