{% extends 'layouts/projects_demo.html' %}
{% block background_image %}
background-image: url(/static/assets/img/projects/clarify.png);
{% endblock background_image %}

{% block blog_title %} Where did your daily wastewater go {% endblock blog_title%}
{% block blog_date %} 2019.1.31 - 2019.3.7 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">
  <h3>Client</h3>
  <p>Myself</p>
  
  <h3>Tool</h3>
  <p>Maya &nbsp; Adobe Illustrator &nbsp; Flourish</p>
</div>

<p class="projects_right">This is first project I made in <strong>3D Animation course</strong> last semester. The project is about the process of cleaning wastewater and the dangers of ocean outfalls, which means treated water pumping into the sea. One obvious impact is the decrease in the numbers and the size of bonefish.</p>

<p>It's my first time to use Maya. It's a huge challenge for me to create such a complex thing, clarify, by Maya, let alone I drew all steps by Adobe Illustrator and searched a lot of papers related to wastewater. Luckily, with the help of professor Hiram, I successfully finished the project. </p>

<p>This is my final version of the project:</p>

<iframe src="/static/assets/img/projects/3d.pdf" width="100%" height="450px"></iframe>


{% endblock %}
