{% extends 'layouts/projects_demo.html' %}
{% block background_image %}
background-image: url(/static/assets/img/projects/hkfilm.png);
{% endblock background_image %}

{% block blog_title %} Why Don’t People Like Hong Kong Films Anymore? {% endblock blog_title%}
{% block blog_date %} 2019.9.29 - 2019.12.10 {% endblock blog_date %}
{% block blog_content %}

<div class="projects_list">
  <h3>Client</h3>
  <p>Myself</p>

  <h3>Link</h3>
  <p><a href="https://yutonghan1123.github.io/HKFilms/">Why people don't like HK films</a></p>

  <h3>Tool</h3>
  <p>D3.js &nbsp; Adobe Illustrator &nbsp; Procreate</p>
</div>

<p class="projects_right">This is a project about the decline of Hong Kong films. I made it with the help of <strong>D3.js</strong>. The project is about exploring the reasons why people don't like Hong Kong films any more. Through my research and data I found, there are three reasons: First of all , the death of Bruce Lee closed the door of Kongfu films.</p>

<p>Secondly, people tastes changed. People love visual effect films now, but Hong Kong film industries can't create them. Lastly, Hong Kong' economy is vulnerable so that the wealth are reluctant to invest films, and the HK people are reluctant to consume films.</p>

<p>It's a very interesting story. My childhood memory is full of Hong Kong films. But now no people watch new Hong Kong films. In this case, I feel like it's a great topic to dive deep into. I met some trouble during finding data. Luckily, with the help of professor Lenny, I successfully finished the project.</p>

<p>Here is <a href="https://yutonghan1123.github.io/HKFilms/">the website</a> to the project.</p>

<p>This is my writting version of the project:</p>

<iframe src="/static/assets/img/projects/hk.pdf" width="100%" height="450px"></iframe>


{% endblock %}
